.rbc-now {
  font-weight: normal !important;
}

.rbc-today {
  background-color: #ececec !important;
}

.calendar-days-default {
  background-color: #ececec;
}

.program-days {
  background-color: rgba(229, 255, 0, 0.075);
}

.program-session-icons {
  margin-right: 0.2rem;
}

.program-session-card {
  background-color: #008cff !important; //Default
  // background-color: #00ad1d !important; //Session with presentations
  // background-color: #ad0000 !important; //Session with no presentations
}

// Modal form style
.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.presentation-main {
  display: flex;
}

.presentation-end {
  display: flex;
}
