$bg: rgba(255, 225, 225, 0.774);

@mixin rotateColor($color) {
	$bg: adjust-hue($color, 68deg) !global;
	background-color: $bg;
}

.ant-table.ant-table-small {
	.ant-table-tbody {
		& > tr > td {
			border-bottom: 0px;
			// padding-right: 0px;
			// padding-bottom: 0px;
			padding: 0px;
		}
		p {
			margin: 0;
		}
	}
}

.program-agenda .ant-table-container {
	background-color:rgba(232,242,244,.774);
}
.program-session .ant-table-container {
	background-color:rgba(225, 255, 233,.774);
}
.program-presentation .ant-table-container {
	background-color: rgba(245, 255, 247,.774);
}

.agendaItems {
	padding: 12px 0 12px 12px;
}
.sessionItems {
	padding: 11px 0 11px 11px;
}
.presentationItems {
	padding: 5px 10px 10px 10px;
}

.agendaView .ant-card-body {
	padding: 0px;
	.program-agenda {
		padding-top: 1px;
		margin: 0;
	}
}

// Container styling, push title to the right
.event-card-widgets {
  margin-right: 4px;
}

// Spacing for icons in event cards
.anticon {
  margin: 0 2px;
}