$bg: rgba(255, 225, 225, 0.774);

@mixin rotateColor($color) {
	$bg: adjust-hue($color, 68deg) !global;
	background-color: $bg;
}

.ant-table.ant-table-small {
	.ant-table-tbody {
		& > tr > td {
			border-bottom: 0px;
			padding-right: 0px;
			padding-bottom: 0px;
			@include rotateColor($bg);
			// background-color: blue;
			// border: 1px solid salmon;

			.program-session  {
				@include rotateColor($bg);
				// padding: 10px;
			}

			.program-presentation  {
				@include rotateColor($bg);
				// border: 1px solid black;
			}
		}
		p {
			margin: 0;
		}
	}
}

.program-session {
	margin-top: 10px;
}
.program-presentation {
	margin-bottom: 10px;
}

.agendaView .ant-card-body {
	padding: 0px;
	.program-agenda {
		// border: 1px solid silver;
		padding-top: 1px;
		margin: 0;
	}
}
// .ant-table-wrapper {
// 	margin-left: -10px;
// }

// Container styling, push title to the right
.event-card-widgets {
  margin-right: 4px;
}

// Spacing for icons in event cards
.anticon {
  margin: 0 2px;
}