Header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: peachpuff;
}

.ant-layout-header{
		background-color: #fff;
}

.logo {
	width: 220px;
	padding: 6px 0 0 0;
}